:root {
  --neutral-10: rgba(255, 255, 255, 1);
  --neutral-30: rgba(237, 237, 237, 1);
  --neutral-100: rgba(16, 16, 16, 1);
  --neutral-60: rgba(135, 135, 135, 1);
  --color-regular-startup2: rgba(167, 244, 106, 1);
  --grey: rgba(128, 141, 158, 1);
  --green: rgba(96, 211, 156, 1);
  --color-ceo-agency3: rgba(255, 241, 237, 1);
  --color-regular-startup1: rgba(27, 26, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --body-large-medium-font-family: "Inter", Helvetica;
  --body-large-medium-font-weight: 500;
  --body-large-medium-font-size: 16px;
  --body-large-medium-letter-spacing: 0px;
  --body-large-medium-line-height: 150%;
  --body-large-medium-font-style: normal;
  --body-large-bold-font-family: "Inter", Helvetica;
  --body-large-bold-font-weight: 700;
  --body-large-bold-font-size: 16px;
  --body-large-bold-letter-spacing: 0px;
  --body-large-bold-line-height: 150%;
  --body-large-bold-font-style: normal;
  --headline-h2-urbanrist-bold-font-family: "Urbanist", Helvetica;
  --headline-h2-urbanrist-bold-font-weight: 700;
  --headline-h2-urbanrist-bold-font-size: 40px;
  --headline-h2-urbanrist-bold-letter-spacing: 0px;
  --headline-h2-urbanrist-bold-line-height: 110.00000238418579%;
  --headline-h2-urbanrist-bold-font-style: normal;
  --heading-h5-24-font-family: "Archivo", Helvetica;
  --heading-h5-24-font-weight: 700;
  --heading-h5-24-font-size: 24px;
  --heading-h5-24-letter-spacing: 0px;
  --heading-h5-24-line-height: 150%;
  --heading-h5-24-font-style: normal;
  --caption-2-bold-font-family: "Inter", Helvetica;
  --caption-2-bold-font-weight: 700;
  --caption-2-bold-font-size: 12px;
  --caption-2-bold-letter-spacing: -0.12px;
  --caption-2-bold-line-height: 16px;
  --caption-2-bold-font-style: normal;
  --headline-h4-inter-bold-font-family: "Inter", Helvetica;
  --headline-h4-inter-bold-font-weight: 700;
  --headline-h4-inter-bold-font-size: 24px;
  --headline-h4-inter-bold-letter-spacing: 0px;
  --headline-h4-inter-bold-line-height: 120.00000476837158%;
  --headline-h4-inter-bold-font-style: normal;
  --headline-h3-inter-bold-font-family: "Inter", Helvetica;
  --headline-h3-inter-bold-font-weight: 700;
  --headline-h3-inter-bold-font-size: 18px;
  --headline-h3-inter-bold-letter-spacing: 0px;
  --headline-h3-inter-bold-line-height: 120.00000476837158%;
  --headline-h3-inter-bold-font-style: normal;
  --text-md-normal-font-family: "Inter", Helvetica;
  --text-md-normal-font-weight: 400;
  --text-md-normal-font-size: 16px;
  --text-md-normal-letter-spacing: 0px;
  --text-md-normal-line-height: 24px;
  --text-md-normal-font-style: normal;
  --body-medium-medium-font-family: "Inter", Helvetica;
  --body-medium-medium-font-weight: 500;
  --body-medium-medium-font-size: 14px;
  --body-medium-medium-letter-spacing: 0px;
  --body-medium-medium-line-height: 150%;
  --body-medium-medium-font-style: normal;
  --shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
}
