:root {
  --primary-color: #ffffff;
  --secund-color: #a7f46a;
  --background-color-1: #1b1aff;
  --background-color-2: #ffffff;
  --background-color-footer: #101010;
  --card-1: #e0fecd;
  --card-2: #fff1ed;
  --card-3: #f0f0ff;
  --text-light: #ffffff;
  --text-black: #101010;
  --text-blue: #97baff;
  --text-gray: #757b8a;
  --text-green: #a7f46a;
  --text-neutro: #ededed;
  --texto-footer: #878787;
  --font: "Urbanist";
}

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body {
  margin: 0;
  line-height: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--primary-color);
  font-family: Inter;	
  height: auto;
  max-width: auto;
}

/* ============================================
   HEADER BLOCK
============================================ */

.header__nav,
.header__actions {
  display: none;
}

.header {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  height: 4rem; 
  background-color: var(--background-color-1);
  z-index: 1;

  display: flex;                   
  align-items: center;             
  justify-content: space-between;  
}


.header__logo {
  display: flex;        
  align-items: center;
  gap: 0.5rem;          
  width: auto;          
  height: 2rem;         
  margin-top: 1rem;
  margin-left: 1rem;
}

/* Imagens da logo */
.header__logo-image--main {
  height: 2.3rem;   /* proporcional à altura do header */
  width: auto;
  object-fit: contain;
}

/* Ícone do menu */
.header__menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* ============================================
   HERO BLOCK
============================================ */
.hero {
  width: 100%;
  max-width: auto;
  margin: 0;
  position: relative;
  background-color: var(--background-color-1);
  min-height: 55.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero__background-image-desktop{
  display: none;
}

.hero__background-image {
  top: 1rem;
  transform: translateY(-12.3rem);
  width: calc(100% - 2.1rem);
  max-width: 400px;
  object-fit: cover;
  margin-left: auto; 
  height: auto;
}

.hero__slogan {
  position: absolute;
  top: 4.5rem;
  left: 1.25rem;
  right: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.hero__slogan-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.hero__slogan-icon {
  width: 1.45rem;
  position: relative;
  height: 1.8rem;
}

.hero__slogan-text {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}

.hero__slogan-frame {
  width: 4.375rem;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  height: 0.06rem;
}

.hero__headline {
  position: absolute;
  top: 17.5rem;
  margin-left: 1.3rem;
  right: 1.3rem;
  font-size: clamp(4.96rem, 16vw, 160px);
  letter-spacing: -1px;
  line-height: 90%;
  display: inline-block;
  font-family: var(--font);
  max-width: auto;
}

.hero__description {
  position: absolute;
  top:33rem;
  left: 7vw;
  right: 1.3rem;
  font-size: 1.7vh;
  line-height: 150%;
  display: inline-block;
  color: var(--text-light);
  max-width: 19rem;
}

.hero__button {
  position: absolute;
  top: 38rem;
  left: 1.2vw;
  margin-left: 1.3rem;
  border-radius: 8px;
  background-color: var(--secund-color);
  width: min(13.4rem, calc(100% - 2.6rem));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  gap: 0.75rem;
  text-align: center;
  color: var(--text-black);
  font-weight:bold;
}

.hero__button-padding {
  width: 1.25rem;
  position: relative;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}

.hero__button-text {
  flex: 1;
  position: relative;
  line-height: 150%;
}

.hero__button-arrow {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.hero__info-under {
  position: absolute;
  top: 42rem;
  left: 1.3rem;
  right: 1.3rem;
  max-width: 20.7rem;
  height: 6.5rem;
  color: #97baff;
}

.hero__info-text {
  position: absolute;
  top: 0.7rem;
  left: 6.9rem;
  right: 0rem;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  max-width: 13.75rem;
}

.hero__info-arrow {
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  width: 5.1rem;
  height: 1rem;
}

/* ============================================
   ABOUT-US BLOCK
============================================ */
.about-us {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  position: relative;
  background-color: var(--primary-color);
  min-height: 69.625rem;
  overflow: hidden;
  font-size: 0.75rem;
  color: var(--text-black);
}

.about-us__intro {
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  font-family: Urbanist;
}

.about-us__intro-title {
  width: 100%;
  max-width: auto;
  position: relative;
  line-height: 110%;
  display: inline-block;
}

.about-us__intro-description {
  width: 100%;
  max-width: auto;
  position: relative;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500;
  font-family: Inter;
  color: var(--text-gray);
  display: inline-block;
}

.about-us__card--main {
  position: absolute;
  top: 16.875rem;
  left: 1.5rem;
  right: 1.5rem;
  width: calc(100% - 3rem);
  max-width: auto;
  height: 23rem;
  font-size: 1rem;
}

.about-us__card-image {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 16px;
  width: 100%;
  height: 23.06rem;
  object-fit: cover;
}

.about-us__card-overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 16px;
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0));
  width: 100%;
  height: 16.9rem;
  opacity: 0.6;
}

.about-us__card-button {
  position: absolute;
  top: 18rem;
  left: 1.9rem;
  right: 1.9rem;
  border-radius: 8px;
  width: calc(100% - 3.8rem);
  max-width: 15.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  gap: 0.75rem;
}

.about-us__card-button--main {
  background-color: var(--secund-color);
  height: 3.25rem;
  color: var(--text-black);
}

.about-us__card-title {
  position: absolute;
  top: 4.1rem;
  left: 1.9rem;
  right: 1.9rem;
  font-size: 2rem;
  line-height: 110%;
  display: inline-block;
  font-family: Urbanist;
  color: var(--text-light);
  max-width: 16.8rem;
}

.about-us__card-subtitle {
  position: absolute;
  top: 2rem;
  left: 1.9rem;
  font-size: 0.875rem;
  line-height: 160%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-green);
}

.about-us__card--workflow {
  position: absolute;
  top: 40.9rem;
  right: 1.5rem;
  width: min(10rem, calc(50% - 2rem));
  height: auto;
}

.about-us__card--workflow .about-us__card-background {
  top: 0rem;
  left: 0rem;
  border-radius: 16px;
  background-color: var(--card-2);
  width: 100%;
  height: 11.5rem;
  max-width: auto;
}

.about-us__card--workflow .about-us__card-description {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  line-height: 150%;
  display: inline-block;
  width: calc(100% - 2rem);
}

.about-us__card--workflow .about-us__card-text {
  top: 0rem;
  left: 0rem;
  line-height: 110%;
  display: inline-block;
  width: calc(100% - 1rem);
}
.about-us__card-text{
  min-width: 7rem;
}

.about-us__card-text--especial {
  left: 0rem;
  min-width: 20rem;
}

.about-us__card--workflow .about-us__card-arrow {
  position: absolute;
  top: 1.5rem;
  left: 6.6rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.about-us__card--workflow .about-us__card-button {
  position: absolute;
  top: 7.25rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  height: 3.25rem;
  font-size: 1.5rem;
  font-family: Urbanist;
}

.about-us__card--blog {
  position: absolute;
  top: 40.9rem;
  left: 1.5rem;
  width: min(10rem, calc(50% - 2rem));
  height: 11.5rem;
}

.about-us__card--blog .about-us__card-background {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 16px;
  background-color: var(--card-1);
  width: 100%;
  height: 11.5rem;
}

.about-us__card--blog .about-us__card-description {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  line-height: 150%;
  display: inline-block;
  width: calc(100% - 2rem);
}

.about-us__card--blog .about-us__card-button {
  position: absolute;
  top: 7.25rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  height: 3.25rem;
  font-size: 1.5rem;
  font-family: Urbanist;
}

.about-us__card--blog .about-us__card-text {
  position: absolute;
  top: 0rem;
  left: 0rem;
  line-height: 110%;
  display: inline-block;
  width: calc(100% - 3rem);
}

.about-us__card--blog .about-us__card-arrow {
  position: absolute;
  top: 1.5rem;
  left: 6.6rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.about-us__card--team {
  position: absolute;
  top: 53.4rem;
  left: 1.5rem;
  right: 1.5rem;
  width: calc(100% - 3rem);
  max-width: 20.4rem;
  height: 11.4rem;
}

.about-us__card--team .about-us__card-background {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 16px;
  background-color: var(--card-3);
  width: 100%;
  height: 11.4rem;
}

.about-us__card--team .about-us__card-description {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  line-height: 150%;
  display: inline-block;
  width: calc(100% - 2rem);
}

.about-us__card--team .about-us__card-text {
  position: absolute;
  line-height: 110%;
  display: inline-block;
  width: calc(100% - 4rem);
}

.about-us__card--team .about-us__card-arrow {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  left: 17rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.about-us__card--team .about-us__card-button {
  position: absolute;
  top: 8.3rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  height: 2.2rem;
  font-size: 2rem;
  font-family: Urbanist;
}

/* ============================================
   FEATURES BLOCK
============================================ */
.features {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  position: relative;
  background-color: var(--primary-color);
  min-height: 59.625rem;
  overflow: hidden;
  color: var(--text-black);
}

.features__content {
  position: absolute;
  top: 26.8rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.features__title {
  width: 100%;
  max-width: 20.7rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 110%;
  display: inline-block;
  font-family: Urbanist;
}

.features__description {
  width: 100%;
  max-width: 20.5rem;
  position: relative;
  line-height: 160%;
  font-weight: 500;
  color: var(--text-gray);
  display: inline-block;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.features__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

.features__item-icon {
  width: 1.375rem;
  position: relative;
  height: 1.375rem;
}

.features__item-text {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
}

.features__image--sales {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  max-width: auto;
  max-height: auto;
  height: 17.125rem;
  object-fit: cover;
}

.features__image--statistic {
  position: absolute;
  top: 16rem;
  left: 0rem;
  width: 100%;
  height: 9.9rem;
  object-fit: cover;
}

.features__image--statistic {
  position: absolute;
  top: 16rem;
  left: 0rem;
  width: 100%;
  height: 9.9rem;
  object-fit: cover;
}

/* ============================================
   WHY-US BLOCK
============================================ */
.why-us {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  position: relative;
  background-color: var(--primary-color);
  min-height: 40.2rem;
  overflow: hidden;
  font-size: 2.5rem;
  color: var(--text-black);
  font-family: Urbanist;
}

.why-us__content {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}

.why-us__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.why-us__title {
  width: 100%;
  max-width: auto;
  position: relative;
  line-height: 110%;
  display: inline-block;
}

.why-us__description {
  width: 100%;
  max-width: 20.3rem;
  position: relative;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500;
  font-family: Inter;
  color: var(--text-gray);
  display: inline-block;
}

.why-us__info {
  width: 100%;
  max-width: 20.5rem;
  box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);
  border-radius: 16px;
  background-color: var(--primary-color);
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem;
  box-sizing: border-box;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-family: Archivo;
}

.why-us__info-icon {
  width: 7.5rem;
  position: relative;
  height: 3.375rem;
  object-fit: cover;
}

.why-us__info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.why-us__info-number {
  position: relative;
  line-height: 150%;
}

.why-us__info-text {
  position: relative;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500;
  font-family: Inter;
  color: var(--text-gray);
}

.why-us__image {
  position: absolute;
  top: 32.7rem;
  left: 1.5rem;
  right: 1.5rem;
  width: calc(100% - 3rem);
  max-width: 20.4rem;
  height: 21.25rem;
  object-fit: cover;
}

.why-us__overview {
  position: absolute;
  top: 45.2rem;
  right: 1.5rem;
  box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);
  border-radius: 8px;
  background-color: var(--primary-color);
  width: min(8.7rem, calc(50% - 2rem));
  height: 8.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  color: var(--text-gray);
  font-family: Inter;
}

.why-us__overview-content {
  width: 100%;
  position: relative;
  height: 6.375rem;
}

.why-us__overview-label {
  position: absolute;
  width: 100%;
  top: calc(50% + 1px);
  left: 0%;
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  display: inline-block;
  height: 1.125rem;
}

.why-us__overview-growth {
  position: absolute;
  top: 4.875rem;
  border-radius: 4px;
  background-color: #eafae5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  gap: 0.25rem;
  color: #60d39c;
}

.why-us__overview-arrow {
  width: 0.75rem;
  position: relative;
  height: 0.75rem;
  overflow: hidden;
  flex-shrink: 0;
}

.why-us__overview-percentage {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 1rem;
}

.why-us__overview-value {
  position: absolute;
  top: calc(50% - 51px);
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--text-black);
}

.why-us__play-icon {
  position: absolute;
  top: 41.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
}

/* ============================================
   BRANDS 
============================================ */
.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 3rem;
}


/* ============================================
   TESTIMONIALS BLOCK
============================================ */
.testimonials {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  position: relative;
  background-color: var(--background-color-1);
  min-height: 55.188rem;
  overflow: hidden;
  font-size: 2.5rem;
  font-family: Urbanist;
}

.testimonials__header {
  position: absolute;
  top: 3.5rem;
  left: 1.875rem;
  right: 1.875rem;
  width: calc(100% - 3.75rem);
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.testimonials__title {
  width: 100%;
  position: relative;
  line-height: 110%;
  display: inline-block;
}

.testimonials__description {
  width: 100%;
  position: relative;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500;
  font-family: Inter;
  display: inline-block;
}

.testimonials__image {
  position: absolute;
  margin-top: 2rem;
  top: 15rem;
  left: 0.5rem;
  right: 0.5rem;
  width: calc(100% - 1rem);
  max-width: auto;
  height: 20.5rem;
  object-fit: contain;
}

.testimonials__content {
  position: absolute;
  top: 36.563rem;
  left: 1.875rem;
  right: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.937rem;
  font-size: 1.5rem;
}

.testimonials__quote {
  width: 100%;
  max-width: 20rem;
  position: relative;
  line-height: 110%;
  display: inline-block;
}

.testimonials__author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  font-size: 1.125rem;
  font-family: Inter;
}

.testimonials__author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}

.testimonials__author-name {
  position: relative;
  line-height: 120%;
}

.testimonials__author-position {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-light);
}

.testimonials__pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

.testimonials__pagination-dot {
  width: 0.75rem;
  position: relative;
  border-radius: 50%;
  height: 0.75rem;
}

.testimonials__pagination-dot--active {
  background-color: var(--primary-color);
}

.testimonials__pagination-dot:not(.testimonials__pagination-dot--active) {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ============================================
   FOOTER BLOCK
============================================ */
.footer {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  position: relative;
  background-color: var(--text-black);
  min-height: 39.125rem;
  overflow: hidden;
}

.footer__title {
  position: absolute;
  top: 3.125rem;
  left: 2rem;
  right: 2rem;
  font-size: 2rem;
  line-height: 120%;
  display: inline-block;
  font-family: Archivo;
  max-width: 18.5rem;
}

.footer__description {
  position: absolute;
  top: 8.875rem;
  left: 2rem;
  right: 2rem;
  line-height: 150%;
  font-weight: 500;
  color: var(--text-gray);
  display: inline-block;
  max-width: 19.5rem;
}

.footer__subscription {
  position: absolute;
  top: 14.4rem;
  left: 2rem;
  right: 2rem;
  width: calc(100% - 4rem);
  max-width: 20.4rem;
  height: 7rem;
  text-align: center;
}

.footer__subscription-button {
  position: absolute;
  top: 3.5rem;
  border-radius: 100px;
  background-color: var(--background-color-1);
  width: min(8.9rem, 100%);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.footer__subscription-text {
  position: relative;
  line-height: 150%;
}

.footer__subscription-input {
  position: absolute;
  line-height: 150%;
  font-weight: 500;
  color: var(--text-gray);
  text-align: left;
}

.footer__subscription-divider {
  position: absolute;
  top: 2.4rem;
  border-top: 1px solid #757b8a;
  box-sizing: border-box;
  width: 100%;
}

.footer__bottom {
  position: absolute;
  top: 26.125rem;
  left: 1.5rem;
  right: 1.5rem;
  width: calc(100% - 3rem);
  max-width: 20.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.5rem;
  font-size: 0.875rem;
  color: var(--text-gray);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.footer__social-item {
  width: 1.25rem;
  position: relative;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}

.footer__social-icon {
  position: absolute;
  height: 99.5%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0.5%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.footer__navigation-link {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.footer__copyright {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.pricing{
  display: none;
}

/* ============================================
   MEDIA QUERIES 
============================================ */

@media (min-width: 1440px) {
  
  .header {
    justify-content: space-between; 
    align-items: center;
    padding-top: 1.7rem;
  }

  .header__menu-icon {
    display: none;
  }
  
  .header__nav {
    display: flex; 
    flex-grow: 1; 
    justify-content: left; 
    margin-left: 5.4rem;
  }

  .header__nav-list {
    display: flex;
    gap: 2rem; 
  }

  .header__nav-link {
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem; /* 16px */
  }
  

  .header__actions {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin-right: 7.5rem;
  }

  .header__button {
    font-family: 'Inter', sans-serif;
    padding: 1.2rem 1.8rem; 
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
  }

  .header__button--signin {
    background-color: transparent;
    color: var(--primary-color);
  }

  .header__button--getstarted {
    background-color: var(--secund-color); 
    color: var(--text-black); 
  }

  .header__logo{
    transform: translateY(-0.6rem);
    margin-left: 7.7rem;
  }

  /*======hero======*/

  .hero__background-image {
    display: none;
  }

.hero__background-image-desktop {
  display: block;
  top: 1rem;
  transform: translateY(-10.5rem);
  object-fit: cover;
  margin-left: auto; 
  height: auto;
}

.hero__headline {
  font-size: clamp(4.96rem, 16vw, 160px);
  letter-spacing: -1px;
  line-height: 90%;
  font-family: var(--font);
  max-width: auto;
  top: 17rem;
  transform: translateX(-27%);
}

.hero__slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  transform: translate(7%, 4.5rem);
}

.hero__description {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--text-light);
  transform: translate(11%, 14rem);
  max-width: 25rem;
  font-weight: bold;
  letter-spacing: 0.06px;
}

.hero__button {
  border-radius: 8px;
  background-color: var(--secund-color);
  width: min(13.4rem, calc(100% - 2.6rem));
  display: flex;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  gap: 0.75rem;
  text-align: center;
  color: var(--text-black);
  font-weight:bold;
  transform: translate(50%, 6.5rem);
}

.hero__info-under {
    max-width: 35rem;
    height: 6.5rem;
    color: #97baff;
    transform: translate(44rem, 2rem);
}

.hero__info-text{
  max-width: 200rem;
}
/*=====2-section=====*/

.about-us__intro{
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
}

.about-us__intro-description {
  grid-column: 2/3;
  font-size: 1rem;
  transform: translate(8.8rem, 2.4rem);
  max-width: 28rem;
}

.about-us__intro-title {
    grid-column: 1/2;
    font-size: 2.5rem;
    width: 100%;
    max-width: 40rem;
    position: relative;
    line-height: 110%;
    transform: translate(6rem, 2.4rem);
    font-size: 4rem;
}

.about-us__card-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
        margin: 21.7rem 6rem 0 7.5rem;
        max-width: 120rem;
        height: auto; 
    }


    .about-us__card--main,
    .about-us__card--blog,
    .about-us__card--workflow,
    .about-us__card--team {
        position: static;
        width: auto;
        height: auto;
        max-width: none;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }


    .about-us__card--main {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        position: relative;
        max-width: 200rem;
        padding-right: 36.5rem;
    }

    .about-us__card--blog {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-color: var(--card-1);
        width: 15rem;
        height: 11rem;
    }

    .about-us__card--workflow {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: var(--card-2);
        width: 15rem;
        height: 11rem;
    }

    .about-us__card--team {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        background-color: var(--card-3);
        width: 15rem;
    }


  
    .about-us__card--blog,
    .about-us__card--workflow,
    .about-us__card--team {
        border-radius: 16px;
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

  
    .about-us__card-container .about-us__card-description,
    .about-us__card-container .about-us__card-button,
    .about-us__card-container .about-us__card-background,
    .about-us__card-container .about-us__card-text,
    .about-us__card-container .about-us__card-arrow,
    .about-us__card-container .about-us__card-image,
    .about-us__card-container .about-us__card-overlay,
    .about-us__card-container .about-us__card-title,
    .about-us__card-container .about-us__card-subtitle {
        position: static;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
    }
    

    .about-us__card--main .about-us__card-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    
    .about-us__card--main .about-us__card-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.7), transparent 60%);
        border-radius: 16px;
    }

    .about-us__card--main .about-us__card-subtitle {
        position: absolute;
        top: 2.7rem;
        left: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        color: var(--text-green);
    }

    .about-us__card--main .about-us__card-title {
        position: absolute;
        bottom: 5.5rem;
        transform: translate(3rem, -12.4rem);
        font-size: 2.5rem;
        max-width: 60%;
    }

    .about-us__card--main .about-us__card-button {
        position: absolute;
        width: 20rem;
        height: 3.5rem;
        bottom: 2.8rem;
        left: 2.5rem;
        font-weight: bold;
    }


    .about-us__card-container .about-us__card-description p {
        font-size: 1rem;
        margin: 0;
        transform: translateY(-3rem);
    }

    .about-us__card-container .about-us__card-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .about-us__card-container .about-us__card-button h4 {
        width: 10rem;
        font-size: 2rem;
        margin: 0;
    }

    .features__image--sales {
  position: relative;
  top: 0rem;
  left: 0rem;
  width: 50%;
  max-width: auto;
  max-height: auto;
  height: 17.125rem;
  object-fit: cover;
}

/*======3 section*/

.why-us__title {
  transform: translateX(12rem);
  width: 20rem;
  font-size: 3rem;
}

  .why-us__description{
    transform: translate(12rem, 1.5rem);

  }

  .why-us__info{
    transform: translate(12rem, 2rem);
  }

  .why-us__image{
    transform: translate(51rem, -30rem);
    height: 29rem;
    max-width: 27rem;
  }

  .why-us__overview{
    transform: translate(-12rem, -23rem);
  }
/*=========BRands*/

.brands {
  display: flex; 
  margin: 1rem 10rem;
  gap: 5rem;
}



    /* ============================================
   PRICING BLOCK
============================================ */
 .pricing {
		display: block; /* Faz a seção aparecer no desktop */
		width: 100%;
		background-color: #F5F8FE;
		padding: 100px 8%;
		box-sizing: border-box;
		text-align: center;
		font-family: 'Inter', sans-serif;
		color: var(--text-black);
	}

	.pricing__title {
		font-family: 'Urbanist', sans-serif;
    transform: translate(34%, 15%);
    max-width: 50vw;
		font-size: 3.75rem;
		line-height: 1.1;
		margin-bottom: 2.5rem;
	}

	.pricing__subtitle {
		color: var(--text-gray);
		margin-bottom: 8rem;
	}

	.pricing__cards-container {
		display: flex;
		flex-direction: row; 
		justify-content: center;
		align-items: stretch; 
	}

	.pricing__card {
		width: calc(26.3% - 1.5rem); 
    transform: translateY(5%);
    height: 43rem;
		max-width: 380px;
		border: 1px solid #e0e0e0;
		border-radius: 16px;
		padding: 2rem;
		box-sizing: border-box;
		text-align: left;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.pricing__card--popular {
		background-color: var(--background-color-1);
		color: var(--primary-color);
		border: none;
		transform: scale(1.05);
		z-index: 1;

    width: calc(26.5% - 1.5rem); 
		max-width: 380px;
    height: 47rem;
		border-radius: 16px;
		padding: 2rem;
		box-sizing: border-box;
		text-align: left;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.pricing__popular-tag {
    display: flex;
		top: -2.9vh;
		left: 50%;
		transform: translateY(-100%);
		background-color: var(--secund-color);
		color: var(--text-black);
		padding: 1rem;
		border-radius: 100px;
		font-size: 0.8rem;
    border: 5px solid var(--primary-color); 
    align-items: center;
    justify-content: center;
	}

	.pricing__plan-name {
		font-size: 0.875rem;
		font-weight: 500;
		color: var(--text-gray);
		margin-bottom: 0.5rem;
	}

	.pricing__card--popular .pricing__plan-name {
		color: var(--text-neutro);
	}

	.pricing__price {
		font-size: 3rem;
		font-weight: bold;
		font-family: 'Urbanist', sans-serif;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 1.5rem;
	}

	.pricing__card--popular .pricing__price {
		border-bottom-color: rgba(255, 255, 255, 0.3);
	}

	.pricing__price-period {
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Inter', sans-serif;
		color: var(--text-gray);
	}

	.pricing__card--popular .pricing__price-period {
		color: var(--text-neutro);
	}

	.pricing__features-list {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		flex-grow: 1; 
	}

	.pricing__feature-item {
		display: flex;
		align-items: center;
		gap: 0.75rem;
    margin-bottom: 0.4rem;
	}

	

	.pricing__button {
		width: 60%;
		padding: 1rem;
		border-radius: 8px;
		background-color: #f0f0ff;
		color: #2A85FF;
		font-weight: bold;
		font-size: 1rem;
		cursor: pointer;
		margin-top: auto; 
	}

	.pricing__button--popular {
		background-color: var(--primary-color);
		color: var(--background-color-1);
	}

  

}