:root{
    --primary-color: #FFFFFF;
    --secund-color: #A7F46A;
    --background-color-1: #1B1AFF;
    --background-color-2: #FFFFFF;
    --background-color-footer: #101010;
    --text-light: #FFFFFF;
    --text-black: #101010;
    --text-blue: #97BAFF;
    --text-gray: #757B8A;
    --text-green: #A7F46A;
    --text-neutro: #EDEDED;
    --texto-footer: #878787;
    --font: 'Urbanist', sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}


